* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.App {
  height: 100vh;
}

nav {
  background-color: #F55A5A;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.card {
  display: flex;
  align-items: center;
  height: 170px;
  width: 640px;
  /* border: 2px solid red; */
  margin-top: 45px;
}

.card--image {
  height: 168px;
  width: 125px;
  border-radius: 9px;
}

.card--info {
  margin-left: 15px;
}

.card--location {
  display: flex;
  align-items: center;
}

.card--place {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.card--maps > a {
  color: gray;
  text-decoration: underline;
}

.card--title {
  margin: 5px 0 10px 0;
}

.card--date {
  font-weight: bold;
}

.card--description {
  color: #2B283A;
  margin: 5px 0 10px 0;
}